/*precios tarjetas*/
.cardt {
    background-color: #33C3F0 ;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cardt h3 {
    margin-top: 0;
  }
  
  .cardt p {
    margin-bottom: 8px;
  }


  /*temarioa*/
  #temarioContent > div:not(:first-child) {
    display: none;
  }

  /* Estilos para el select */
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  /* Estilos para la sección de contenido */
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  /*scroll arriba*/
  .scroll-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px; /* Ajusta la distancia desde la parte derecha */
    z-index: 9999;
  }
  .scroll-icons a {
    margin-left: 10px; /* Espacio entre los íconos */
    color: black; /* Color de los íconos */
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  /*     */

  .discount {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
  }
  .discount-bg {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
  }
  .discount-pr {
    background-color: yellow;
    color: black;
    border-radius: 5px;
    padding: 5px;
  }
  /*icono casita*/
  

 